.paginator {
    border-top: none;
    display: flex;
    justify-content: center;
    color: white;
}

.paginator .page {
    margin: 10px;
    cursor: pointer;
}

.paginator .page:hover,
.paginator .page.curPage {
    color: #E6686D;
}
